.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  gap: 2px;
}

.grid-container div {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
}

.car {
  background-image: url('/assets/car2.svg');
  background-repeat: no-repeat;
}
.north {
  transform: rotateY(0deg);
}
.east {
  transform: rotate(90deg);
}
.west{
  transform: rotate(-90deg);
}
.south {
  transform: rotateY(180deg);
}

.controls {
  margin-top: 20px;
}

.button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.info {
  margin-top: 20px;
}

p {
  margin: 5px 0;
}
