<div class="flex flex-col justify-center items-end p-5 text-white">
  <button class="bg-red-400 p-2 rounded-md bg-opacity-70 hover:bg-red-500">Source Code (Angular)</button><br>
  <button class="bg-purple-400 p-2 rounded-md bg-opacity-70 hover:bg-purple-500">Source Code (C#)</button>
</div>
<div class="main">
  <h1 class="title">Auto Driving Car Simulation</h1>
  <small class="text-red-300">(Use Web Version for better experience)</small>
  <p class="description">A virtual environment for testing and efining autonomous vehicle systems,
    simulating diverse driving scenarios and enhancing safety in a controlled digital space.</p>
  <div class="btn-group">
    <a class="get-started" routerLink="/car-simulation"> Get started <app-svg /> </a>
    <a class="learn-more" routerLink="/project-detail"> Project Details</a>
  </div>
</div>
